body {
    font-family: Arial;
    background: #f4f4f4;
}

table {
    border-collapse: collapse;
    width: 50%;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background: #007BFF;
    color: white;
}
